body .auth-page {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.toast {
    position: fixed;
    top: 20px;
    right: -300px; /* bắt đầu ngoài màn hình */
    min-width: 250px;
    padding: 15px;
    border-radius: 5px;
    color: white;
    z-index: 9999;
    opacity: 0.9;
    transition: right 0.5s ease-in-out;
}

.toast.success { background-color: #4CAF50; } /* xanh lá */
.toast.danger  { background-color: #f44336; } /* đỏ */
@keyframes fadeinout {
    0% { opacity: 0; top: 0; }
    10% { opacity: 1; top: 20px; }
    90% { opacity: 1; top: 20px; }
    100% { opacity: 0; top: 0; }
}

.toast {
    animation: fadeinout 4s forwards;
}


.auth-page * {
	box-sizing: border-box;
}

.auth-page h1 {
	margin: 0;
}

.auth-page h2 {
	text-align: center;
}

.auth-page p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.auth-page span {
	font-size: 12px;
}

.auth-page a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.auth-page button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.auth-page button:active {
	transform: scale(0.95);
}

.auth-page button:focus {
	outline: none;
}

.auth-page button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.auth-page form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.auth-page input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.auth-page .container {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
		    0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 868px;
	max-width: 100%;
	min-height: 580px;
}

.auth-page .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.auth-page .sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.auth-page .container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.auth-page .sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.auth-page .container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.auth-page .overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.auth-page .container.right-panel-active .overlay-container {
	transform: translateX(-100%);
}

.auth-page .overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.auth-page .container.right-panel-active .overlay {
	transform: translateX(50%);
}

.auth-page .overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.auth-page .overlay-left {
	transform: translateX(-20%);
}

.auth-page .container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.auth-page .overlay-right {
	right: 0;
	transform: translateX(0);
}

.auth-page .container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.auth-page .social-container {
	margin: 20px 0;
}

.auth-page .social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.auth-page footer {
	background-color: #222;
	color: #fff;
	font-size: 14px;
	bottom: 0;
	position: fixed;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 999;
}

.auth-page footer p {
	margin: 10px 0;
}

.auth-page footer i {
	color: red;
}

.auth-page footer a {
	color: #3c97bf;
	text-decoration: none;
}
