.mini-cart-box {
    position: fixed;
    top: 70px;
    right: 20px;
    width: 450px;
    max-height: 80vh;
    overflow-y: auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
    padding: 15px;
    z-index: 2000;
    display: none; /*Ẩn*/
}

.mini-cart-box.active {
    display: block; /*  hiện */
}

.cart_item{
    position: relative;
}

 #number_cart{
    font-size: 12px;
    display: inline-block;
    border-radius: 50%;
    heigh : 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: #fff;
    position: absolute;
        top: -14%;
    right: -14%;
}