<div class="sidebar">
    <div class="logo">
        <span class="fw-bold fs-5">Hệ thống sửa xe</span>
        <div class="hero-image"> <i class="bi bi-tools"
                style="font-size: 20px; color: red;"></i>
        </div>
    </div>
    <a href="/" class="nav-item {{ 'active' if page == 'Trang chủ' else '' }}">
        <i class="bi bi-house-door-fill"></i>
        <span>Trang chủ</span>
    </a>
    <a href="/components" class="nav-item {{ 'active' if page == 'Linh kiện' else '' }}">
        <i class="bi bi-arrow-left-right"></i>
        <span>Linh kiện sửa xe</span>
    </a>

    {% if current_user.is_authenticated %}
        {# ROLE CUSTOMER_STAFF #}
        {% if current_user.role.name in ['CUSTOMER', 'STAFF'] %}
            <a href="/appointment" onclick="limitVehicleRender()"
               class="nav-item  {{ 'active' if page == 'Đặt lịch sửa xe' else '' }}">
                <i class="bi bi-calendar-plus"></i>
                {%if current_user.role.name == 'CUSTOMER'%}
                    <span>Đặt phiếu sửa xe</span>
                {%else%}
                    <span>Tạo phiếu tiếp nhận</span>
                {%endif%}
            </a>

            <a href="/receptions" class="nav-item {{ 'active' if page == 'Phiếu đặt lịch' else '' }}">
                <i class="bi bi-file-text"></i>
                {%if current_user.role.name == 'CUSTOMER'%}
                    <span>Phiếu đã đặt</span>
                {%else%}
                    <span>Phiếu tiếp nhận</span>
                {%endif%}
            </a>
        {% endif %}
        {% if current_user.role.name == 'CUSTOMER' %}
            <a href="/payment" class="nav-item {{ 'active' if page == 'Thanh toán' else '' }}">
                <i class="bi bi-wallet2"></i>
                <span>Thanh Toán</span>
            </a>
        {% endif %}
        {# ROLE ACCOUNTANT #}
        {% if current_user.role.name == 'ACCOUNTANT' %}
            <a href="/create_receipts" class="nav-item {{ 'active' if page == 'Lập hóa đơn' else '' }}">
                <i class="bi bi-receipt"></i>
                <span>Lập hóa đơn</span>
            </a>

            <a href="/export_receipts" class="nav-item {{ 'active' if page == 'Xuất hóa đơn' else '' }}">
                <i class="bi bi-cash-coin"></i>
                <span>Xuất hóa đơn</span>
            </a>
        {% endif %}

        {# ROLE TECHNICK #}
        {% if current_user.role.name == 'TECHNICK' %}
            <a href="/repairform" class="nav-item {{ 'active' if page == 'Phiếu sửa xe' else '' }}">
                <i class="bi bi-wrench-adjustable"></i>
                <span>Lập phiếu sửa xe</span>
            </a>
        {% endif %}

        {# ROLE ADMIN #}
        {% if current_user.role.name == 'ADMIN' %}
        <a href="/admin" class="nav-item {{ 'active' if request.path.startswith('/admin') else '' }}">
            <i class="bi bi-gear-fill"></i>
            <span>Quản trị hệ thống</span>
        </a>
        {% endif %}

        {# ROLE ADMIN #}
        {% if current_user.role.name in ['ADMIN', 'ACCOUNTANT'] %}
            <a href="/statistical" class="nav-item {{ 'active' if page == 'Báo cáo thống kê' else '' }}">
                <i class="bi bi-bar-chart"></i>
                <span>Báo cáo thống kê</span>
            </a>
        {% endif %}
    {% endif %}

    {% if current_user.is_authenticated %}
        <a href="/" class="nav-item">
            {{ current_user.name }}
        </a>
        <a href="{{ url_for('signin.signout') }}" class="nav-item">
            <i class="bi bi-box-arrow-right"></i>
            <span>Đăng xuất</span>
        </a>
    {% else %}
        <a href="/signin" class="nav-item {{ 'active' if page == 'account' else '' }}">
            <i class="bi bi-person-circle"></i>
            <span>Tài Khoản</span>
        </a>
    {% endif %}
</div>